<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page Admin</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/mystyle.css" th:href="@{/css/mystyle.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>
<body>
<div class="w-100 navbar navbar-light px-3">
    <a th:href="@{/logout}" type="button" class="btn btn-outline-info">Logout</a>
</div>
<h1 style="text-align: center; " class="display-1" >Admin Home Page</h1>
<div style="text-align: center;">
    <img class="img" id="img" th:src="@{images/Two-Buttons.jpg}">
</div>
&nbsp;
<div class="text-center">
    <a class="btn mt-auto btn-danger btn-circle text-white" onmouseenter="changeRed()" onmouseleave="changeDecision()" th:href="@{/createProduct}" type="button"> Create a product </a>
    &nbsp;
    <a class="btn mt-auto btn-primary btn-circle text-white" onmouseenter="changeBlue()" onmouseleave="changeDecision()" th:href="@{/getAllProducts}" type="button"> See all products </a>
</div>


</body>
<script>
    function changeRed() {
        document.getElementById("img").src = "images/red_button.png";
    }
    function changeBlue(){
        document.getElementById("img").src = "images/blue_button.png";
    }
    function changeDecision(){
        document.getElementById("img").src = "images/Two-Buttons.jpg";
    }

</script>
</html>