<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page Admin</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/mystyle.css" th:href="@{/css/mystyle.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>
<body>
&nbsp;
<h1 style="text-align: center; " class="display-1" >Admin Home Page</h1>
<div style="text-align: center;">
    <img class="img" th:src="@{images/Buttons.JPG}">
</div>
&nbsp;
<div style="text-align: center;">
    <a class="btn mt-auto btn-info text-white" th:href="@{/createProduct}" type="button"> Create a product </a>
    &nbsp;
    <a class="btn mt-auto btn-info text-white" th:href="@{/getAllProducts}" type="button"> See all products </a>
</div>


</body>
</html>